.path-user {
    .user-pass-reset {
        text-align: center;
        padding: 60px;

        .button.js-form-submit.form-submit {
            width: 44%;
            display: block;
            margin: 0 auto;
        }
    }
}