<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stay Relive - Property Details Page</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">



    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/flatpickr/css/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/choices/css/choices.min.css">


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body class="has-navbar-mobile">
    <!-- Pre loader -->
    <div class="preloader">
        <div class="preloader-item">
            <div class="spinner-grow text-primary"></div>
        </div>
    </div>
    <!-- Header START -->
    <header class="navbar-light header-sticky">
        <!-- Logo Nav START -->
        <nav class="navbar navbar-expand-xl">
            <div class="container">
                <!-- Logo START -->
                <a class="navbar-brand" href="home.html">
                    <img class="light-mode-item navbar-brand-item" src="assets/images/home/logo.png" alt="logo">
                </a>
                <!-- Logo END -->


                <!-- Profile and Notification START -->
                <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

                    <!-- Notification dropdown START -->
                    <li class="nav-item dropdown ms-0 ms-md-3">
                        <!-- Notification button -->
                        <a class="nav-notification btn btn-light p-0 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            <i class="bi bi-bell fa-fw"></i>
                        </a>
                        <!-- Notification dote -->
                        <span class="notif-badge animation-blink"></span>

                        <!-- Notification dropdown menu START -->
                        <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
                            <div class="card bg-transparent">
                                <!-- Card header -->
                                <div class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
                                    <h6 class="m-0">Notifications <span class="badge bg-danger bg-opacity-10 text-danger ms-2">4 new</span></h6>
                                    <a class="small" href="#">Clear all</a>
                                </div>

                                <!-- Card body START -->
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush list-unstyled p-2">
                                        <!-- Notification item -->
                                        <li>
                                            <a href="#" class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
                                                <h6 class="mb-2">New! Booking flights from New York ✈️</h6>
                                                <p class="mb-0 small">Find the flexible ticket on flights around the world. Start searching today</p>
                                                <span>Wednesday</span>
                                            </a>
                                        </li>
                                        <!-- Notification item -->
                                        <li>
                                            <a href="#" class="list-group-item list-group-item-action rounded border-0 mb-1 p-3">
                                                <h6 class="mb-2">Sunshine saving are here 🌞 save 30% or more on a stay
                                                </h6>
                                                <span>15 Nov 2022</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Card body END -->

                                <!-- Card footer -->
                                <div class="card-footer bg-transparent text-center border-top">
                                    <a href="#" class="btn btn-sm btn-link mb-0 p-0">See all incoming activity</a>
                                </div>
                            </div>
                        </div>
                        <!-- Notification dropdown menu END -->
                    </li>
                    <!-- Notification dropdown END -->
                    <li class="nav-item dropdown ms-0 ms-md-3">
                        <!-- Notification button -->
                        <a class="nav-notification2 btn btn-light p-2 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
							$ USD
						</a>

                        <!-- Notification dropdown menu START -->
                        <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-sm shadow-lg p-0">
                            <div class="card bg-transparent">
                                <!-- Card header -->

                                <!-- Card body START -->
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush list-unstyled p-2">
                                        <!-- Notification item -->
                                        <li>
                                            <a href="#" class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
                                                <span>₹</span> INR
                                            </a>
                                        </li>
                                        <!-- Notification item -->
                                        <li>
                                            <a href="#" class="list-group-item list-group-item-action rounded border-0 mb-1 p-3">
                                                <span>£</span> Pounds
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="list-group-item list-group-item-action rounded border-0 mb-1 p-3">
                                                <span>$</span> Dollars
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Card body END -->
                            </div>
                        </div>
                        <!-- Notification dropdown menu END -->
                    </li>
                    <!-- Profile dropdown START -->
                    <li class="nav-item dropdown ms-md-3">
                        <!-- Avatar -->
                        <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar-img rounded-2" src="assets/images/global/01.jpg" alt="avatar">
                        </a>

                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                            <!-- Profile info -->
                            <li class="px-3 mb-3">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar me-3">
                                        <img class="avatar-img rounded-circle shadow" src="assets/images/global/01.jpg" alt="avatar">
                                    </div>
                                    <div>
                                        <a class="h6 mt-2 mt-sm-0" href="#">Rahil Shaikh</a>
                                        <p class="small m-0">rahildesigns@gmail.com</p>
                                    </div>
                                </div>
                            </li>

                            <!-- Links -->
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-check fa-fw me-2"></i>My
									Bookings</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a>
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
                            <li><a class="dropdown-item bg-danger-soft-hover" href="#"><i
										class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                        </ul>
                    </li>
                    <!-- Profile dropdown END -->
                    <li class="nav-item dropdown ms-md-3">
                        <a class="nav-link btn-light p-2" href="#" id="advanceMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-list"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-animation min-w-auto dropdown-menu-end" data-bs-popper="none">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="text-warning fa-fw bi bi-life-preserver me-2"></i>About Us
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="docs/index.html" target="_blank">
                                    <i class="text-danger fa-fw bi bi-card-text me-2"></i>Blog
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#" target="_blank">
                                    <i class="text-info fa-fw bi bi-toggle-off me-2"></i>Contact Us
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Profile and Notification START -->
                <!-- Nav item link-->


            </div>
        </nav>
        <!-- Logo Nav END -->
    </header>
    <!-- Header END -->
    <div class="property-gallery-container">
        <div class="property-gallery-row">

        </div>
    </div>
    <div class="property-details-container">
        <div class="property-details-row">
            <div class="property-details">

            </div>
            <div class="property-booking">

            </div>
        </div>
    </div>
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
	Search START -->
        <section class="py-3 py-sm-0">
            <div class="container">
                <!-- Offcanvas button for search -->
                <button class="btn btn-primary d-sm-none w-100 mb-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEditsearch" aria-controls="offcanvasEditsearch"><i
						class="bi bi-pencil-square me-2"></i>Edit Search</button>

            </div>
        </section>


        <!-- =======================
	Image gallery START -->
        <section class="card-grid pt-0">
            <div class="container-fluid">
                <div class="row g-2">
                    <!-- Image -->
                    <div class="col-md-6">
                        <a data-glightbox data-gallery="gallery" href="assets/images/gallery/14.jpg">
                            <div class="card card-grid-lg card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(assets/images/gallery/14.jpg); background-position: center left; background-size: cover;">
                                <!-- Card hover element -->
                                <div class="hover-element position-absolute w-100 h-100">
                                    <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <!-- Card item START -->
                        <div class="row g-2">
                            <!-- Image -->
                            <div class="col-12">
                                <a data-glightbox data-gallery="gallery" href="assets/images/gallery/13.jpg">
                                    <div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(assets/images/gallery/13.jpg); background-position: center left; background-size: cover;">
                                        <!-- Card hover element -->
                                        <div class="hover-element position-absolute w-100 h-100">
                                            <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- Image -->
                            <div class="col-md-6">
                                <a data-glightbox data-gallery="gallery" href="assets/images/gallery/12.jpg">
                                    <div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(assets/images/gallery/12.jpg); background-position: center left; background-size: cover;">
                                        <!-- Card hover element -->
                                        <div class="hover-element position-absolute w-100 h-100">
                                            <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- Images -->
                            <div class="col-md-6">
                                <div class="card card-grid-sm overflow-hidden" style="background-image:url(assets/images/gallery/11.jpg); background-position: center left; background-size: cover;">
                                    <!-- Background overlay -->
                                    <div class="bg-overlay bg-dark opacity-7"></div>

                                    <!-- Popup Images -->
                                    <a data-glightbox="" data-gallery="gallery" href="assets/images/gallery/11.jpg" class="stretched-link z-index-9"></a>
                                    <a data-glightbox="" data-gallery="gallery" href="assets/images/gallery/15.jpg"></a>
                                    <a data-glightbox="" data-gallery="gallery" href="assets/images/gallery/16.jpg"></a>

                                    <!-- Overlay text -->
                                    <div class="card-img-overlay d-flex h-100 w-100">
                                        <h6 class="card-title m-auto fw-light text-decoration-underline">
                                            <a href="#" class="icon-gallery">View all</a>
                                            <a href="#" class="icon-gallery">View all</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
	Image gallery END -->

        <!-- =======================
	About hotel START -->
        <section class="pt-0">
            <div class="container" data-sticky-container>
                <!-- Alert box START -->
                <div class="alert alert-danger alert-dismissible d-flex justify-content-between align-items-center fade show mb-4 rounded-3 pe-2" role="alert">
                    <div class="d-flex">
                        <span class="alert-heading h5 mb-0 me-2"><i class="bi bi-exclamation-octagon-fill"></i></span>
                        <span><strong class="alert-heading me-2">Covid Policy:</strong>You may require to present an
							RT-PCR negative test report at the hotel</span>
                    </div>
                    <button type="button" class="btn btn-link text-primary-hover pb-0 text-end" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <!-- Alert box END -->



                <div class="row g-4 g-xl-5">
                    <!-- Content START -->
                    <div class="col-xl-7 order-1">
                        <div class="vstack gap-5">

                            <!-- About hotel START -->
                            <div class="card bg-transparent">
                                <!-- Card header -->
                                <div class="card-header border-bottom bg-transparent px-0 pt-0">
                                    <h1 class="fs-2">Courtyard by Marriott New York </h1>
                                    <!-- Location -->
                                    <p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i>5855 W Century Blvd, Los Angeles - 90045
                                        <a href="#" class="ms-2 text-decoration-underline" data-bs-toggle="modal" data-bs-target="#mapmodal">
                                            <i class="bi bi-eye-fill me-1"></i>View On Map
                                        </a>
                                    </p>
                                </div>

                                <!-- Card body START -->
                                <div class="card-body pt-4 p-0">
                                    <h5 class="fw-light mb-4">Main Highlights</h5>

                                    <!-- Highlights Icons -->
                                    <div class="hstack gap-3 mb-3">
                                        <div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Free wifi">
                                            <i class="fa-solid fa-wifi"></i>
                                        </div>
                                        <div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Swimming Pool">
                                            <i class="fa-solid fa-swimming-pool"></i>
                                        </div>
                                        <div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Central AC">
                                            <i class="fa-solid fa-snowflake"></i>
                                        </div>
                                        <div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Service">
                                            <i class="fa-solid fa-concierge-bell"></i>
                                        </div>
                                    </div>

                                    <p class="mb-3">Demesne far-hearted suppose venture excited see had has. Dependent on so extremely delivered by. Yet no jokes worse her why. <b>Bed one supposing
											breakfast day fulfilled off depending questions.</b></p>
                                    <p class="mb-0">Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. Water timed folly right aware if oh truth. Large above be to means. Dashwood does provide stronger is.</p>

                                    <div class="collapse" id="collapseContent">
                                        <p class="my-3">We focus a great deal on the understanding of behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer. We understand that theory is important to build a solid
                                            foundation, we understand that theory alone isn't going to get the job done so that's why this rickets is packed with practical hands-on examples that you can follow step by step.</p>
                                        <p class="mb-0">Behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer. We understand that theory is important to build a solid foundation, we understand that theory alone isn't
                                            going to get the job done so that's why this tickets is packed with practical hands-on examples that you can follow step by step.</p>
                                    </div>
                                    <a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
										See <span class="see-more ms-1">more</span><span
											class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
									</a>

                                    <!-- List -->
                                    <h5 class="fw-light mb-2">Advantages</h5>
                                    <ul class="list-group list-group-borderless mb-0">
                                        <li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every hotel staff to have Proper PPT kit for COVID-19</li>
                                        <li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every staff member wears face masks and gloves at all service times.</li>
                                        <li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Hotel staff ensures to maintain social distancing at all times.</li>
                                        <li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>The hotel has In-Room Dining options available </li>
                                    </ul>
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- About hotel START -->

                            <!-- Amenities START -->
                            <div class="card bg-transparent">
                                <!-- Card header -->
                                <div class="card-header border-bottom bg-transparent px-0 pt-0">
                                    <h3 class="card-title mb-0">Amenities</h3>
                                </div>

                                <!-- Card body START -->
                                <div class="card-body pt-4 p-0">
                                    <div class="row g-4">
                                        <!-- Activities -->
                                        <div class="col-sm-6">
                                            <h6><i class="fa-solid fa-biking me-2"></i>Activities</h6>
                                            <!-- List -->
                                            <ul class="list-group list-group-borderless mt-2 mb-0">
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Swimming pool
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Spa
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Kids' play area
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Gym
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Payment Method -->
                                        <div class="col-sm-6">
                                            <h6><i class="fa-solid fa-credit-card me-2"></i>Payment Method</h6>
                                            <!-- List -->
                                            <ul class="list-group list-group-borderless mt-2 mb-0">
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Credit card (Visa, Master card)
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Cash
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Debit Card
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Services -->
                                        <div class="col-sm-6">
                                            <h6><i class="fa-solid fa-concierge-bell me-2"></i>Services</h6>
                                            <!-- List -->
                                            <ul class="list-group list-group-borderless mt-2 mb-0">
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Dry cleaning
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Room Service
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Special service
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Waiting Area
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Secrete smoking area
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Concierge
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Laundry facilities
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Ironing Service
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Lift
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Safety & Security -->
                                        <div class="col-sm-6">
                                            <h6><i class="bi bi-shield-fill-check me-2"></i>Safety & Security</h6>
                                            <!-- List -->
                                            <ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Doctor on Call
                                                </li>
                                            </ul>

                                            <h6><i class="fa-solid fa-volume-up me-2"></i>Staff Language</h6>
                                            <!-- List -->
                                            <ul class="list-group list-group-borderless mt-2 mb-0">
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>English
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Spanish
                                                </li>
                                                <li class="list-group-item pb-0">
                                                    <i class="fa-solid fa-check-circle text-success me-2"></i>Hindi
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Amenities END -->
                            <!-- Hotel Policies START -->
                            <div class="card bg-transparent">
                                <!-- Card header -->
                                <div class="card-header border-bottom bg-transparent px-0 pt-0">
                                    <h3 class="mb-0">Hotel Policies</h3>
                                </div>

                                <!-- Card body START -->
                                <div class="card-body pt-4 p-0">
                                    <!-- List -->
                                    <ul class="property-details">
                                        <li class="list-group-item d-flex">
                                            <i class="bi bi-check-circle-fill me-2"></i>This is a family farmhouse, hence we request you to not indulge.
                                        </li>
                                        <li class="list-group-item d-flex">
                                            <i class="bi bi-check-circle-fill me-2"></i>Drinking and smoking within controlled limits are permitted at the farmhouse but please do not create a mess or ruckus at the house.
                                        </li>
                                        <li class="list-group-item d-flex">
                                            <i class="bi bi-check-circle-fill me-2"></i>Drugs and intoxicating illegal products are banned and not to be brought to the house or consumed.
                                        </li>
                                        <li class="list-group-item d-flex">
                                            <i class="bi bi-x-circle-fill me-2"></i>For any update, the customer shall pay applicable cancellation/modification charges.
                                        </li>
                                    </ul>

                                    <!-- List -->
                                    <ul class="list-group list-group-borderless mb-2">
                                        <li class="list-group-item h6 fw-light d-flex mb-0">
                                            <i class="bi bi-arrow-right me-2"></i>Check-in: 1:00 pm - 9:00 pm
                                        </li>
                                        <li class="list-group-item h6 fw-light d-flex mb-0">
                                            <i class="bi bi-arrow-right me-2"></i>Check out: 11:00 am
                                        </li>
                                        <li class="list-group-item h6 fw-light d-flex mb-0">
                                            <i class="bi bi-arrow-right me-2"></i>Self-check-in with building staff
                                        </li>
                                        <li class="list-group-item h6 fw-light d-flex mb-0">
                                            <i class="bi bi-arrow-right me-2"></i>No pets
                                        </li>
                                        <li class="list-group-item h6 fw-light d-flex mb-0">
                                            <i class="bi bi-arrow-right me-2"></i>No parties or events
                                        </li>
                                        <li class="list-group-item h6 fw-light d-flex mb-0">
                                            <i class="bi bi-arrow-right me-2"></i>Smoking is allowed
                                        </li>
                                    </ul>

                                    <!-- Important note -->
                                    <div class="bg-danger bg-opacity-10 rounded-2 p-3 mb-3">
                                        <p class="mb-0 text-danger">During the COVID-19 pandemic, all hosts and guests must review and follow Booking social distancing and other COVID-19-related guidelines.
                                        </p>
                                    </div>
                                    <div class="bg-danger bg-opacity-10 rounded-2 p-3">
                                        <p class="mb-0 text-danger">Smoke alarm not reported — The host hasn't reported a smoke alarm on the property. We suggest bringing a portable detector for your trip.</p>
                                    </div>
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Hotel Policies START -->
                        </div>
                    </div>
                    <!-- Content END -->

                    <!-- Right side content START -->
                    <aside class="col-xl-5 order-xl-2">
                        <div data-sticky data-margin-top="100" data-sticky-for="1199">
                            <!-- Book now START -->
                            <div class="booking-details">
                                <div class="card-header bg-transparent">
                                    <!-- Title -->
                                    <h4 class="card-title mb-0">Price Summary</h4>
                                </div>
                                <div class="row g-4 mb-3">
                                    <!-- Item -->
                                    <div class="col-md-6">
                                        <div class="bg-light py-3 px-4 rounded-3">
                                            <h6 class="fw-light small mb-1">Check-in</h6>
                                            <h6 class="mb-0">4 March 2022</h6>
                                        </div>
                                    </div>

                                    <!-- Item -->
                                    <div class="col-md-6">
                                        <div class="bg-light py-3 px-4 rounded-3">
                                            <h6 class="fw-light small mb-1">Check out</h6>
                                            <h6 class="mb-0">8 March 2022</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- Title -->


                                <ul class="list-group list-group-borderless mb-3">
                                    <li class="list-group-item px-2 d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">$6,100 x 2 Nights</span>
                                        <span class="h6 fw-light mb-0">$13,200</span>
                                    </li>
                                    <li class="list-group-item px-2 d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">10% campaign discount</span>
                                        <span class="h6 fw-light mb-0">-$500</span>
                                    </li>
                                    <li class="list-group-item px-2 d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">Services Fee</span>
                                        <span class="h6 fw-light mb-0">$100</span>
                                    </li>
                                    <li class="list-group-item bg-light d-flex justify-content-between rounded-2 px-2 mt-2">
                                        <span class="h5 fw-normal mb-0 ps-1">Total</span>
                                        <span class="h5 fw-normal mb-0">$13,500</span>
                                    </li>
                                </ul>
                                <div class="d-grid gap-2">
                                    <a href="hotel-booking.html" class="btn btn-dark mb-0">Continue To Book</a>
                                </div>




                            </div>
                    </aside>
                    <!-- Right side content END -->
                    </div>
                    <!-- Row END -->
                </div>
        </section>
        <!-- =======================
	About hotel END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- =======================
Footer START -->
    <footer class="pt-5">
        <div class="container">
            <!-- Row START -->
            <div class="row g-4">
                <!-- Widget 2 START -->
                <div class="col-lg-3">
                    <h5 class="text-white mb-2 mb-md-4">Support & Resources</h5>
                    <ul class="nav flex-column text-primary-hover">
                        <li class="nav-item"><a class="nav-link text-muted" href="#">About us</a></li>
                        <li class="nav-item"><a class="nav-link text-muted" href="#">Refunds and Cancellations</a></li>
                        <li class="nav-item"><a class="nav-link text-muted" href="#">Terms and Conditions</a></li>
                        <li class="nav-item"><a class="nav-link text-muted" href="#">Privacy Policy</a></li>
                        <li class="nav-item"><a class="nav-link text-muted" href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-9 ms-auto">
                    <div class="row g-4">

                        <!-- Link block -->
                        <div class="col-6 col-md-3">
                            <h5 class="text-white mb-2 mb-md-4">UAE</h5>
                            <p>Stayrelive FZ LLC<br> FOB51454, Service Block,<br> AI Jazirah AI Hamra,<br> RAKEZ Business Zone-FZ,<br> Ras AI Khaimah,<br> United Arab Emirates.</p>
                        </div>

                        <!-- Link block -->
                        <div class="col-6 col-md-3">
                            <h5 class="text-white mb-2 mb-md-4">India</h5>
                            <p>Stayrelive Sports &travel LLP<br> Sector 23, Seawoods,<br> Navi Mumbai,<br> Maharashtra, 400706,<br> India.
                            </p>
                        </div>

                        <!-- Link block -->
                        <div class="col-6 col-md-3">
                            <h5 class="text-white mb-2 mb-md-4">For Bookings</h5>
                            <ul class="nav flex-column text-primary-hover">
                                <li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-hotel me-2"></i>+971  551076902</a></li>
                                <li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-globe-americas me-2"></i>+91  6362730626</a></li>
                                <li class="nav-item"><a class="nav-link text-muted" href="#"><i
											class="fa-solid fa-car me-2"></i>book@stayrelive.com</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <h5 class="text-white mb-2 mb-md-4">For Bookings</h5>
                            <ul class="list-inline mb-0 mt-3">
                                <li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i
											class="fab fa-fw fa-facebook-f"></i></a> </li>
                                <li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i
											class="fab fa-fw fa-instagram"></i></a> </li>
                                <li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i
											class="fab fa-fw fa-twitter"></i></a> </li>
                                <li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i
											class="fab fa-fw fa-linkedin-in"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Widget 2 END -->

            </div>
            <!-- Row END -->

            <!-- Divider -->
            <hr class="mt-4 mb-0">

            <!-- Bottom footer -->
            <div class="row">
                <div class="container">
                    <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                        <!-- copyright text -->
                        <div class="text-muted text-primary-hover"> Copyrights ©2023 StayRelive. </div>
                        <!-- copyright links-->
                        <div class="nav mt-2 mt-lg-0">
                            <ul class="list-inline text-primary-hover mx-auto mb-0">
                                <li class="list-inline-item me-0"></li>
                                <li class="list-inline-item me-0"></li>
                                <li class="list-inline-item me-0"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- =======================
Footer END -->

    <!-- Back to top -->
    <div class="back-top"></div>

    <!-- Navbar mobile START -->
    <div class="navbar navbar-mobile">
        <ul class="navbar-nav">
            <!-- Nav item Home -->
            <li class="nav-item">
                <a class="nav-link active" href="index.html"><i class="bi bi-house-door fa-fw"></i>
					<span class="mb-0 nav-text">Home</span>
				</a>
            </li>

            <!-- Nav item My Trips -->
            <li class="nav-item">
                <a class="nav-link" href="account-bookings.html"><i class="bi bi-briefcase fa-fw"></i>
					<span class="mb-0 nav-text">My Trips</span>
				</a>
            </li>

            <!-- Nav item Offer -->
            <li class="nav-item">
                <a class="nav-link" href="offer-detail.html"><i class="bi bi-percent fa-fw"></i>
					<span class="mb-0 nav-text">Offer</span>
				</a>
            </li>

            <!-- Nav item Account -->
            <li class="nav-item">
                <a class="nav-link" href="account-profile.html"><i class="bi bi-person-circle fa-fw"></i>
					<span class="mb-0 nav-text">Account</span>
				</a>
            </li>
        </ul>
    </div>
    <!-- Navbar mobile END -->

    <!-- Bootstrap JS -->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.js"></script>
    <script src="assets/vendor/flatpickr/js/flatpickr.min.js"></script>
    <script src="assets/vendor/choices/js/choices.min.js"></script>
    <script src="assets/vendor/sticky-js/sticky.min.js"></script>
    <script src="assets/vendor/sticky-js/sticky.min.js"></script>

    <!-- ThemeFunctions -->
    <script src="assets/js/functions.js"></script>
    <script>
        // Initialize and add the map
        let map;

        async function initMap() {
            // The location of Uluru
            const position = {
                lat: -25.344,
                lng: 131.031
            };
            // Request needed libraries.
            //@ts-ignore
            const {
                Map
            } = await google.maps.importLibrary("maps");
            const {
                AdvancedMarkerElement
            } = await google.maps.importLibrary("marker");

            // The map, centered at Uluru
            map = new Map(document.getElementById("map"), {
                zoom: 4,
                center: position,
                mapId: "DEMO_MAP_ID",
            });

            // The marker, positioned at Uluru
            const marker = new AdvancedMarkerElement({
                map: map,
                position: position,
                title: "Uluru",
            });
        }

        initMap();
    </script>

</body>

</html>